<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../template/head'); %>
  </head>

  <body class="container">
    <main>
      <div class="container-fluid">
        <p><%= data.text %></p>
        <p><a href="/index">Go Home</a></p>
      </div>
    </main>
  </body>
</html>
