<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../template/head'); %>
  </head>

  <body class="container">
    <main>
      <div class="container-fluid start-box">
        <div class="jumbotron text-center">
          <h1 class="display-4">DREAM pos</h1>
          <p class="h6 font-weight-light text-muted">
            becos...well, would you <em>really rather</em> it be called
            NIGHTMARE pos?
          </p>
          <a href="/signin"
            ><button class="btn btn-success m-4">Sign-in</button></a
          >
          <a href="/signup"
            ><button class="btn btn-success m-4">Sign-up</button></a
          >
        </div>
      </div>
    </main>

    <footer><%- include('../template/footer'); %></footer>
  </body>
</html>
