<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../template/head'); %>
  </head>

  <body class="container">
    <header><%- include('../template/nav'); %></header>

    <main>
      <div class="container-fluid start-box2">
        <form action="/setpass" method="POST">
          <label for="email">Email: </label>
          <input class="form-control" type="email" name="email" required />
          <label for="old_pass">Old Password (if applicable): </label>
          <input class="form-control" type="password" name="old_pass" />
          <label for="password">New Password: </label>
          <input
            class="form-control"
            type="password"
            name="password"
            required
          />
          <input
            class="btn btn-success btn-block mt-3"
            type="submit"
            value="Create Password"
          />
        </form>
      </div>
    </main>

    <footer><%- include('../template/footer'); %></footer>
  </body>
</html>
