<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../template/head'); %>
  </head>

  <body class="container">
    <header><%- include('../template/nav'); %></header>

    <main>
      <div class="container-fluid">
        <form action="/signin" method="POST">
          <label for="email">Email: </label>
          <input type="text" name="email" />
          <label for="password">Password: </label>
          <input type="password" name="password" />
          <input
            class="btn btn-success btn-block"
            type="submit"
            value="Login To Your Account"
          />
        </form>
        <p><a href="/setpass">Set password</a></p>
      </div>
    </main>

    <footer><%- include('../template/footer'); %></footer>
  </body>
</html>
