<title>Dream POS</title>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
<script
  src="https://kit.fontawesome.com/508ac17d5f.js"
  crossorigin="anonymous"
></script>

<link rel="stylesheet" type="text/css" href="/styles.css" />
