<div class="sidebar-heading border-bottom bg-light">Dream POS</div>
<div class="list-group list-group-flush">
  <a class="
              list-group-item list-group-item-action list-group-item-light
              p-3
            " href="/admin/dash">Dashboard</a>
  <a class="
              list-group-item list-group-item-action list-group-item-light
              p-3
            " href="/admin/profile">Profile</a>
  <a class="
              list-group-item list-group-item-action list-group-item-light
              p-3
            " href="/admin/items">Items List</a>
  <a class="
              list-group-item list-group-item-action list-group-item-light
              p-3
            " href="/admin/cat">Categories</a>
  <a class="
              list-group-item list-group-item-action list-group-item-light
              p-3
            " href="/sales/cashier">Cashier</a>
  <a class="
              list-group-item list-group-item-action list-group-item-light
              p-3
            " href="/admin/employee">Employee(s)</a>
  <a class="
              list-group-item list-group-item-action list-group-item-light
              p-3
            " href="#" onclick="logOut()" id="logout">Log Out</a>
</div>
<!-- not able to use local file ref... either 404 file not found or Not alloweed to load local resource... -->
<!-- <script type='text/javascript' src='C://Users/boon_/Desktop/rocketacademy/bootcamp/Module3_BackEndApps/pos_project/node_modules/axios/dist/axios.min.js'></script>
<script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
  integrity="sha512-VZ6m0F78+yo3sbu48gElK4irv2dzPoep8oo9LEjxviigcnnnNvnTOJRSrIhuFk68FMLOpiNz+T77nNY89rnWDg=="
  crossorigin="anonymous"></script>

  <!-- had to do the redirection in .then() below as the one in express does not work...  -->
<script>
const logOut= ()=>{
    axios({
      method: 'post',
      url: '/logout',
    })
      .then(() => {
        window.location = "/index"
      })
      .catch((err) => { throw err });
}
</script>
</div>